.temp-box {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  overflow: scroll;
  scrollbar-gutter: revert-layer;
}
.temp-wrapper {
  border: 1px solid green;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 1.2rem;
  border-radius: 25px;
}
.temp-wrapper.active {
  grid-column: span 2;
}
